.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: yellow;
    width: fit-content;
    margin: 30px 10px;
}
#slc {
    background: linear-gradient(-45deg, red, blue, green);
}

.diva {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(23, 101, 19) 0%, rgb(131, 54, 54) 50%, rgb(24, 103, 111) 100%);
    padding: 10px;
}