body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}