body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.produto h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.produto p {
    margin: 5px 0;
}
.disponivel {
    color: rgba(2, 255,2 );
}
.indisponivel {
    color: #f00;
    font-weight: 700;
}

#form-produto {
    margin-bottom: 20px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 200px;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    button {
        padding: 8px 12px;
        margin-top: 20px;
        background-color: #11d011;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
}