header {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: solid 0.5px black;



    nav {
        display: flex;
        justify-content: space-between;
    }
    button {
        border: solid 1px black;
        background: white;
        color: black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        padding: 10px;
    }

    .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

}

img {
    width: 60px;
    height: 60px;
}

.ancor-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
        text-decoration: none;
        color: black;
        border: solid 1px black;
        padding: 2px 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
    }
}
.logo-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}