body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

#msg {
    padding: 20px;
    background: #f0f0f0;
    border: solid 1px #ccc;
    margin-top: 20px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.oculto {
    display: none;
}